
/* styles of the CalendarBlock component */

/* block button styles */
.button-block {
    width: 100%;
    height: 100%;
    padding: 0;
}

.text-button-block,
.button-block span {
    margin: 0;
}

.icon-block {
    padding: 0 !important;
}
